@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebStore.Models.ViewModels.ProductVM;
@{
    ViewData["Title"] = "AddEdit";
    string title = "Create Product";
}

<form method="post" asp-action="AddEdit" enctype="multipart/form-data">
    @* Заголовок *@

    @if (Model.Product.Id != 0)
    {
        <input asp-for="Product.Id" hidden=""/>
        title = "Edit Product";
    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2 class="mb-5 text-center">@title</h2>

        <div class="row">

            <div class="col-8">

                <div class="row mb-3">

                    <div class="col-4 d-flex align-items-center">
                        <label asp-for="Product.Title" style="white-space: nowrap"></label>
                    </div>

                    <div class="col-8">
                        <input asp-for="Product.Title" class="form-control"/>
                        <span asp-validation-for="Product.Title" class="text-danger"></span>
                    </div>

                </div>

                <div class="row mb-3">

                    <div class="col-4 d-flex align-items-center">
                        <label asp-for="Product.Price" style="white-space: nowrap"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Price" class="form-control"/>
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>

                </div>

                <div class="row mb-3">

                    <div class="col-4 d-flex align-items-center">
                        <label asp-for="Product.ShortDescription" style="white-space: nowrap"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.ShortDescription" class="form-control textAreaDisc" style="height: 100px"></textarea>
                        <span asp-validation-for="Product.ShortDescription" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">

                    <div class="col-4 d-flex align-items-center">
                        <label asp-for="Product.Discription" style="white-space: nowrap"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Discription" class="form-control" style="min-height: 300px"></textarea>
                        <span asp-validation-for="Product.Discription" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">

                    <div class="col-4 d-flex align-items-center">
                        Image
                    </div>
                    <div class="col-7">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control"/>
                    </div>
                    <div class="col-1">
                        <a class="btn btn-danger" id="deletePhotoButton">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </div>

                </div>

                <div class="row mb-3">
                    @*выпадающий список*@
                    <div class="col-4 d-flex align-items-center">
                        <label asp-for="Product.CategoryId" style="white-space: nowrap"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                            <option disabled selected>---SELECT CATEGORY---</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-4">
                        <label asp-for="Product.ApplicationId" style="white-space: nowrap"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.ApplicationId" asp-items="@Model.AplicationSelectList" class="form-control">
                            <option disabled="disabled" selected="selected">---SELECT APLICATION---</option>
                        </select>
                        <span asp-validation-for="Product.ApplicationId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <a asp-action="Index" class="btn btn-primary w-100"><i class="fa-solid fa-right-from-bracket"></i> &nbsp;Back</a>
                        </div>

                        <div class="col">

                            @*edit*@
                            @if (Model.Product.Id != 0)
                            {
                                <input type="submit" class="btn btn-success w-100" value="Update"/>
                            }
                            @*create*@
                            else
                            {
                                <input type="submit" class="btn btn-success w-100" value="Create"/>
                            }
                        </div>
                    </div>

                </div>
            </div>
            @if (Model.Product.Id != 0)
            {
                <div class="col-4 p-4" style="display: block" id="divImage">
                    <img src="" width="100%" id="productPhoto" style="border: 1px solid; max-width: 200px; max-height: 200px;"/>
                </div>
            }
            else
            {
                <div class="col-4 p-4" style="display: block" id="divImage">
                    <img src="" width="100%" id="productPhoto" style="border: 1px solid; max-width: 200px; max-height: 200px;"/>
                </div>
            }


        </div>
    </div>
</form>

@*валидация на стороне клиента код js*@

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}

<script>
    const uploadBox = document.getElementById('uploadBox');
    const previewImage = document.getElementById('productPhoto');
    const divImage = document.getElementById('divImage');
    
     const deletePhotoButton = document.getElementById('deletePhotoButton');
    
    uploadBox.addEventListener('change', function (){
        const file = uploadBox.files[0];
        
        if (file) {
            divImage.style.display = 'block';
            Model.Product.photoPath = "photo";
            // Создаем объект FileReader
            const reader = new FileReader();
        
            // Устанавливаем обработчик загрузки файла
            reader.onload = function(e) {
            // Устанавливаем src атрибут тега <img> в выбранное изображение
            previewImage.setAttribute('src', e.target.result);
            }
            // Читаем файл в формате Data URL
            reader.readAsDataURL(file);
            }
    });
    
    // Добавляем обработчик события 'click'
    deletePhotoButton.addEventListener('click', function() {
                // Ваш код обработки нажатия кнопки здесь
                uploadBox.value = null;            
                Model.Product.photoPath = null;
                divImage.style.display = 'none'; 
                    previewImage.src = null;
    });
            
</script>

@*     <script> *@
@*         function validateInput() { *@
@*             if (document.getElementById("uploadBox").value == "") { *@
@*                 Swal.fire({ *@
@*                     title: 'Error!', *@
@*                     text: 'Please upload an Image!', *@
@*                     icon: 'error', *@
@*                     confirmButtonText: 'OK' *@
@*                 }) *@
@*                 return false; *@
@*             } *@
@*             return true; *@
@*         } *@
@*     </script> *@
@*     } *@